body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
#footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links ul li {
    display: inline-block;
    margin-right: 20px;
}

.links ul li a {
    text-decoration: none;
    color: #fff;
}

.links ul li a:hover {
    color: #ccc;
}

/* Content Styles */
.dashboard-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.dashboard-content h2 {
    margin-bottom: 10px;
}

.dashboard-content p {
    margin-bottom: 20px;
}

    .home {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: minmax(180px, auto);

        .chartContainer {
            padding: 15px;
            border-radius: 10px;
            border: 1px;
    }
    }

/* Footer Styles */
.btn-logout {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.btn-logout:hover {
    background-color: #c82333;
}